@model Kramer.Models.UserRequestFormViewModel
@{
    ViewBag.Title = "Criar Solicitação";
    ViewBag.Action = "Create";
}

<h2>Criar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_Form", Model)
}

<div>
    @Html.ActionLink("Retornar a listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") 
    <script src="~/Scripts/userRequestForm.js"></script>
}