@model Kramer.Models.UserRequestFormViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.Action = "Create";
}

<h2>Create</h2>

<div>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="toggle">Canais de Venda<span class="caret"></span></button>
        <ul class="dropdown">
            <li>Banco BRB</li>
            <li>BANCO BNB</li>
        </ul>
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_Form", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}