@model Kramer.Models.UserRequestFormViewModel

@{
    ViewBag.Title = "Editar Solicitação";
    ViewBag.Action = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_Form", Model)
}

<div>
    @Html.ActionLink("Retornar a listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/userRequestForm.js"></script>
}
